# RStudio files

.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rapp.history
*.nb.html

# Temporary system files
.DS_Store
~$*.xls*
*.tmp

# Compiled packrat libraries

packrat/lib*/

# Environmental variables

GITHUB_PAT
.Renviron

# Ignore files created by tests

._*
.~*
*.swp

